//Colors
$main: #333d52;
$second: #636363;

$lightblue: #7995a8;
$grey: #ccc;
$white: #fff;

$shadow: 0px 0px 9px 3px $grey;

//breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$down: max-width;
$up: min-width;
